<form method="post" action="/mountains">
  Name: <input type="text" name="mountain[name]" autofocus>
  <br>
  Height: <input type="text" name="mountain[height]">
  <br>
  Image: <input type="text" name="mountain[image]">
  <br>
  Continent: <input type="text" name="mountain[continent]">
  <br>
  Range: <input type="text" name="mountain[range]">
   <br>
    <button>Add</button>
</form>